@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background: url(../imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;

}

main {
    position: relative;
    height: 100%;
}

::-webkit-scrollbar {
    width: 0px;
}

section#telefone {
    background-image: url(../imagens/frame-iphone.png);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 627px;
    width: 311px;
}

iframe#tela {
    position: relative;
    top: 82px;
    left: 23px;
    height: 465px;
    width: 260px;
}



nav#redes-sociais img {
    display: flex;
    flex-direction: column;
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    

}

nav#redes-sociais img:hover {
    border: 2px solid #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    width: 55px;
    height: 55px;
    transform: translate(-5px, -5px);
    transition: transform 0.5s, width 0.5s, height 0.5s, border 0.5s, box-shadow 0.5s;

}
